.color-card {
  height: 150px;
  width: 100%;
  padding: 10px;
  display: flex;
}

.section-left {
  flex: 1;
  background-color: rgb(201, 199, 199);
  padding: 10px;
  border-radius: 20px 0 0 20px;
}

.section-right {
  flex: 2;
  border-radius: 0 20px 20px 0;
}

h2 {
  padding-left: 15px;
}
